In [1]:
import numpy as np
import pandas as pd

from sklearn.naive_bayes import BernoulliNB, MultinomialNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

from sklearn.feature_selection import RFE

from sklearn.metrics import roc_auc_score
from sklearn.grid_search import GridSearchCV

In [2]:
data = pd.read_csv('data/submission1.csv')

In [3]:
data.head()

,A,B,C,D,E,F,G,H,0_M_0,0_M_1,...,Cash,Cheque,Other,Credit,Client_ID,Advertisment,Other.1,Reference,Walkin,Target
0,0,1,0,0,0,0,0,0,1,0,...,0,1,0,0,345612161,0,0,0,1,0
1,0,2,0,0,0,0,0,0,2,0,...,0,0,0,1,345612467,0,1,0,0,0
2,0,0,2,0,0,0,0,0,0,0,...,0,1,0,0,345612552,0,0,1,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,1,0,0,345612557,0,0,0,1,0
4,0,1,0,0,0,0,0,2,1,0,...,0,0,0,2,345612625,0,0,0,2,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 417107 entries, 0 to 417106
Data columns (total 41 columns):
A               417107 non-null int64
B               417107 non-null int64
C               417107 non-null int64
D               417107 non-null int64
E               417107 non-null int64
F               417107 non-null int64
G               417107 non-null int64
H               417107 non-null int64
0_M_0           417107 non-null int64
0_M_1           417107 non-null int64
0_F_0           417107 non-null int64
0_F_1           417107 non-null int64
1_M_0           417107 non-null int64
1_M_1           417107 non-null int64
1_F_0           417107 non-null int64
1_F_1           417107 non-null int64
2003            417107 non-null int64
2004            417107 non-null int64
2005            417107 non-null int64
2006            417107 non-null int64
Age             417107 non-null float64
varC            417107 non-null int64
freq            417107 non-null int64
freq1           417107 non-null int64
A.1             417107 non-null int64
B.1             417107 non-null int64
C.1             417107 non-null int64
D.1             417107 non-null int64
E.1             417107 non-null int64
Y               417107 non-null int64
total           417107 non-null float64
Cash            417107 non-null int64
Cheque          417107 non-null int64
Other           417107 non-null int64
Credit          417107 non-null int64
Client_ID       417107 non-null int64
Advertisment    417107 non-null int64
Other.1         417107 non-null int64
Reference       417107 non-null int64
Walkin          417107 non-null int64
Target          417107 non-null int64
dtypes: float64(2), int64(39)
memory usage: 133.7 MB

In [53]:
data_x = data.drop(['Client_ID', 'Target'], axis = 1)
data_y = data.Target

In [54]:
data_x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 417107 entries, 0 to 417106
Data columns (total 39 columns):
A               417107 non-null int64
B               417107 non-null int64
C               417107 non-null int64
D               417107 non-null int64
E               417107 non-null int64
F               417107 non-null int64
G               417107 non-null int64
H               417107 non-null int64
0_M_0           417107 non-null int64
0_M_1           417107 non-null int64
0_F_0           417107 non-null int64
0_F_1           417107 non-null int64
1_M_0           417107 non-null int64
1_M_1           417107 non-null int64
1_F_0           417107 non-null int64
1_F_1           417107 non-null int64
2003            417107 non-null int64
2004            417107 non-null int64
2005            417107 non-null int64
2006            417107 non-null int64
Age             417107 non-null float64
varC            417107 non-null int64
freq            417107 non-null int64
freq1           417107 non-null int64
A.1             417107 non-null int64
B.1             417107 non-null int64
C.1             417107 non-null int64
D.1             417107 non-null int64
E.1             417107 non-null int64
Y               417107 non-null int64
total           417107 non-null float64
Cash            417107 non-null int64
Cheque          417107 non-null int64
Other           417107 non-null int64
Credit          417107 non-null int64
Advertisment    417107 non-null int64
Other.1         417107 non-null int64
Reference       417107 non-null int64
Walkin          417107 non-null int64
dtypes: float64(2), int64(37)
memory usage: 127.3 MB

In [28]:
train_x = data_x[data_x['2006'] == 0].values
train_y = data_y[data_x['2006'] == 0].values
test_x = data_x[data_x['2006'] == 1].values
test_y = data_y[data_x['2006'] == 1].values

In [36]:
rmf = RandomForestClassifier(n_jobs=3, n_estimators=100, max_depth=25)

In [39]:
rmf.fit(train_x, train_y);
roc_auc_score(test_y, rmf.predict(test_x))

0.57044839267908998

In [70]:
gbm = GradientBoostingClassifier(n_estimators=50)

In [71]:
gbm.fit(train_x, train_y);
roc_auc_score(test_y, gbm.predict(test_x))

0.57107746592837916

In [29]:
nb = BernoulliNB(250)

In [38]:
nb.fit(train_x, train_y);
roc_auc_score(test_y, nb.predict(test_x))

0.8184731026763219

In [163]:
nb = BernoulliNB()
prm = {'alpha': [230, 240, 250, 260, 270]}
clf = GridSearchCV(nb, prm, scoring='roc_auc')
clf.fit(data_x, data_y);

In [164]:
print clf.grid_scores_, '\n'
print clf.best_estimator_

[mean: 0.98064, std: 0.00029, params: {'alpha': 230}, mean: 0.98065, std: 0.00024, params: {'alpha': 240}, mean: 0.98068, std: 0.00010, params: {'alpha': 250}, mean: 0.98068, std: 0.00012, params: {'alpha': 260}, mean: 0.98062, std: 0.00028, params: {'alpha': 270}]

BernoulliNB(alpha=250, binarize=0.0, class_prior=None, fit_prior=True)

In [50]:
mb = MultinomialNB(250)

In [51]:
mb.fit(train_x, train_y);
roc_auc_score(test_y, mb.predict(test_x))

0.71347260836189197

In [91]:
tr = DecisionTreeClassifier(max_depth=10)

In [92]:
tr.fit(train_x, train_y);
roc_auc_score(test_y, tr.predict(test_x))

0.57092648834854964

In [73]:
lr = LogisticRegression()

In [74]:
lr.fit(train_x, train_y);
roc_auc_score(test_y, lr.predict(test_x))

0.5650274806624076

In [ ]:
svm = SVC('linear')

In [ ]:
svm.fit(train_x, train_y);
roc_auc_score(test_y, svm.predict(test_x))

In [32]:
#nb.fit(data_x, data_y);
pred = rfe.predict_proba(data_x)

In [33]:
sub_1 = pd.DataFrame({'Client_ID':data.Client_ID, 'Cross_Sell':pred[:, 1]})

In [34]:
sub_1.to_csv('sub07.csv', index=False)

In [31]:
rfe = RFE(nb, n_features_to_select=34)
rfe.fit(train_x, train_y);
print roc_auc_score(test_y, rfe.predict(test_x))

0.926011594506

In [61]:
data_x.total.describe()

count    417107.000000
mean       1107.649428
std         783.790695
min          77.620000
25%         620.000000
50%         842.380000
75%        1350.000000
max        3951.260000
Name: total, dtype: float64

In [57]:
data_x.total = data_x.loc[:, 'total'].where(abs(data_x.total - np.mean(data_x.total)) < 2 * np.std(data_x.total))

In [58]:
data_x.total.fillna(max(data_x.total), inplace = True)

In [60]:
data_x.count()

A               417107
B               417107
C               417107
D               417107
E               417107
F               417107
G               417107
H               417107
0_M_0           417107
0_M_1           417107
0_F_0           417107
0_F_1           417107
1_M_0           417107
1_M_1           417107
1_F_0           417107
1_F_1           417107
2003            417107
2004            417107
2005            417107
2006            417107
Age             417107
varC            417107
freq            417107
freq1           417107
A.1             417107
B.1             417107
C.1             417107
D.1             417107
E.1             417107
Y               417107
total           417107
Cash            417107
Cheque          417107
Other           417107
Credit          417107
Advertisment    417107
Other.1         417107
Reference       417107
Walkin          417107
dtype: int64