In [98]:
import numpy as np
import pandas as pd

from sklearn.naive_bayes import BernoulliNB, MultinomialNB
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import roc_auc_score

In [7]:
data = pd.read_csv('data/submission1.csv')

In [8]:
data.head()

,A,B,C,D,E,F,G,H,0_M_0,0_M_1,...,Cash,Cheque,Other,Credit,Client_ID,Advertisment,Other.1,Reference,Walkin,Target
0,0,1,0,0,0,0,0,0,1,0,...,0,1,0,0,345612161,0,0,0,1,0
1,0,2,0,0,0,0,0,0,2,0,...,0,0,0,1,345612467,0,1,0,0,0
2,0,0,2,0,0,0,0,0,0,0,...,0,1,0,0,345612552,0,0,1,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,1,0,0,345612557,0,0,0,1,0
4,0,1,0,0,0,0,0,2,1,0,...,0,0,0,2,345612625,0,0,0,2,0

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 417107 entries, 0 to 417106
Data columns (total 41 columns):
A               417107 non-null int64
B               417107 non-null int64
C               417107 non-null int64
D               417107 non-null int64
E               417107 non-null int64
F               417107 non-null int64
G               417107 non-null int64
H               417107 non-null int64
0_M_0           417107 non-null int64
0_M_1           417107 non-null int64
0_F_0           417107 non-null int64
0_F_1           417107 non-null int64
1_M_0           417107 non-null int64
1_M_1           417107 non-null int64
1_F_0           417107 non-null int64
1_F_1           417107 non-null int64
2003            417107 non-null int64
2004            417107 non-null int64
2005            417107 non-null int64
2006            417107 non-null int64
Age             417107 non-null float64
varC            417107 non-null int64
freq            417107 non-null int64
freq1           417107 non-null int64
A.1             417107 non-null int64
B.1             417107 non-null int64
C.1             417107 non-null int64
D.1             417107 non-null int64
E.1             417107 non-null int64
Y               417107 non-null int64
total           417107 non-null float64
Cash            417107 non-null int64
Cheque          417107 non-null int64
Other           417107 non-null int64
Credit          417107 non-null int64
Client_ID       417107 non-null int64
Advertisment    417107 non-null int64
Other.1         417107 non-null int64
Reference       417107 non-null int64
Walkin          417107 non-null int64
Target          417107 non-null int64
dtypes: float64(2), int64(39)
memory usage: 133.7 MB

In [30]:
data_x = data.drop(['Client_ID', 'Target'], axis = 1)
data_y = data.Target

In [31]:
data_x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 417107 entries, 0 to 417106
Data columns (total 39 columns):
A               417107 non-null int64
B               417107 non-null int64
C               417107 non-null int64
D               417107 non-null int64
E               417107 non-null int64
F               417107 non-null int64
G               417107 non-null int64
H               417107 non-null int64
0_M_0           417107 non-null int64
0_M_1           417107 non-null int64
0_F_0           417107 non-null int64
0_F_1           417107 non-null int64
1_M_0           417107 non-null int64
1_M_1           417107 non-null int64
1_F_0           417107 non-null int64
1_F_1           417107 non-null int64
2003            417107 non-null int64
2004            417107 non-null int64
2005            417107 non-null int64
2006            417107 non-null int64
Age             417107 non-null float64
varC            417107 non-null int64
freq            417107 non-null int64
freq1           417107 non-null int64
A.1             417107 non-null int64
B.1             417107 non-null int64
C.1             417107 non-null int64
D.1             417107 non-null int64
E.1             417107 non-null int64
Y               417107 non-null int64
total           417107 non-null float64
Cash            417107 non-null int64
Cheque          417107 non-null int64
Other           417107 non-null int64
Credit          417107 non-null int64
Advertisment    417107 non-null int64
Other.1         417107 non-null int64
Reference       417107 non-null int64
Walkin          417107 non-null int64
dtypes: float64(2), int64(37)
memory usage: 127.3 MB

In [36]:
train_x = data_x[data_x['2006'] == 0].values
train_y = data_y[data_x['2006'] == 0].values
test_x = data_x[data_x['2006'] == 1].values
test_y = data_y[data_x['2006'] == 1].values

In [93]:
rmf = RandomForestClassifier(n_jobs=3, n_estimators=100, max_depth=25)

In [94]:
rmf.fit(train_x, train_y);
roc_auc_score(test_y, rmf.predict(test_x))

0.57005836726453063

In [70]:
gbm = GradientBoostingClassifier(n_estimators=50)

In [71]:
gbm.fit(train_x, train_y);
roc_auc_score(test_y, gbm.predict(test_x))

0.57107746592837916

In [158]:
nb = BernoulliNB(250)

In [159]:
nb.fit(train_x, train_y);
roc_auc_score(test_y, nb.predict(test_x))

0.8184731026763219

In [99]:
mb = MultinomialNB()

In [100]:
mb.fit(train_x, train_y);
roc_auc_score(test_y, mb.predict(test_x))

0.70909643496139874

In [91]:
tr = DecisionTreeClassifier(max_depth=10)

In [92]:
tr.fit(train_x, train_y);
roc_auc_score(test_y, tr.predict(test_x))

0.57092648834854964

In [73]:
lr = LogisticRegression()

In [74]:
lr.fit(train_x, train_y);
roc_auc_score(test_y, lr.predict(test_x))

0.5650274806624076

In [160]:
pred = nb.predict_proba(data_x)

In [161]:
sub_1 = pd.DataFrame({'Client_ID':data.Client_ID, 'Cross_Sell':pred[:, 1]})

In [162]:
sub_1.to_csv('sub05.csv', index=False)